
<ul class="nav nav-pills">

    <li class="nav-item">
      <a class="nav-link active" href="">Todo</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="opciones">Opciones</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Los mas vendidos</a></li>
        <li><a class="dropdown-item" href="#">Amazon Basics</a></li>
        <li><a class="dropdown-item" href="#">Ofertas</a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Contactos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link disabled" href="#">Quienes Somos</a>
    </li>

  </ul>
