<div class="container">
  <div class="col" style="text-align: center;">
    <h1>{{titulo}}</h1>
    <br><br>
    <form class="form-group row">

      <div class="form-group col-md-3">

        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
      </div>

      <div class="form-group col-md-3">

        <label for="">Apellido: </label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido">
      </div>

      <div class="form-group col-md-3">

        <label for=" ">Cargo: </label>
        <input type="text" name="cargo" id="nombre" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo">
      </div>

      <div class="form-group col-md-3">

        <label for="nombre">Sueldo: </label>
        <input type="text" name="sueldo" id="sueldo" placeholder="Sueldo" class="form-control" [(ngModel)]="cuadroSueldo">
      </div>
      
      <div class="col">
        <button type="submit" class="btn btn-primary" (click)="agregarEmpleado()" style="margin-top: 35px;">Agregar </button>
      </div>

    </form>
  </div>
</div>

<br>

<app-emleado-hijoc *ngFor="let empleado of empleados; let i=index" [empleadoDeLista]="empleado" [indice]="i"></app-emleado-hijoc>

